table {
  border: 5px solid;
  color: #149ace;
}
.TH1 {
  background-color: #fafafd;
  float: left;
  padding: 0px;
  width: 200px;
}
.TH2 {
  background-color: #8080802b;
  width: 200px;
}
.ThRow {
  font-size: 11;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
.TableRow {
  color: #149ace;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
table tr td {
  font-weight: bold;
  color: black;
  border-bottom: 1px solid black !important;
  border-left: none;
  border-right: none;
  padding: 10px;
}
table tr th {
  border-left: none;
  border-right: none;
}
.c_red {
  color: red;
}
.c_green {
  color: green;
}
